<h2 class="title">Logs</h2>

<div id="logs">
	<table class="tablesorter">
		<thead>
		<tr>
		  <th>ID</th>
		  <th>Type</th>
		  <th>Category</th>
		  <th>Message</th>
		  <th>Created</th>
		  <th data-filter="false"></th>
		</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

	{{>pager}}
</div>

<link href="/css/tablesorter.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery.tablesorter.js"></script>
<script>
	$(function() {

		Bitsie.Manage.setNav('.nav-log');

		var table = new Bitsie.Tablesorter('#logs', {
			ajaxUrl : '/api/log/get?page={page}&size={size}',
			processRow : function(row, r) {
				row.push('<a href="/manage/log/' + r.id + '">Details</a>');
			}
		});

	});
</script>