<div id="deleted" data-role="page" class="page">

	<h2>Upload Deleted</h2>

	<p>Your file has deleted permanently from Bitsie Share. Users will no longer be able to download or purchase your file.</p>

</div>