<div class="hr-header">
	<hr />
	<h2 class="align-center">Frequently Asked Questions</h2>
</div>

<p id="q1"><strong>What is the maximum file size?</strong></p>

<p>Uploads may be up to 1GB in size.</p>

<p id="q2"><strong>How quickly do I receive payments made by my customers?</strong></p>

<p>Payouts are sent every hour. All transactions from customers that have at least one confirmation will be processed and sent out (minus the 4% fee).</p>

<p id="q3"><strong>Does the link to my file ever expire?</strong></p>

<p>No, all uploads will remain on our server until you delete it. No expirations, no renewal fees.</p>

<p id="q4"><strong>How do I remove a file?</strong></p>

<p>Click on the "Delete" button on the confirmation page that is displayed after uploading a file. Your file will be permanently deleted from our servers.</p>

<p id="q5"><strong>Can I send you a request for a new feature?</strong></p>

<p>Certainly! Let us know what you'd like to see included in Bitsie Share at <a class="url" href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#098;&#105;&#116;&#115;&#105;&#101;&#046;&#099;&#111;&#109;">&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#098;&#105;&#116;&#115;&#105;&#101;&#046;&#099;&#111;&#109;</a>.</p>