<div id="index" data-role="page">

	<div class="banner page">

		<h1 class="title align-center">
			Monetize your content without a middleman.<br />
			<small>Sell your digital content directly, no sign-up required.</small>
		</h1>

		<div class="row">
			<div class="col-sm-3 col-md-3">
				<img src="/images/upload_icon.png" />
				<h2>Upload</h2>
				<p>Keep your file stored safely on our servers, and set a price others will have to pay to access your file.</p>
			</div>
			<div class="hidden-xs col-sm-1 col-md-1 align-center">
				<img src="/images/circle_arrow.png" />
			</div>
			<div class="col-sm-3 col-md-4">
				<img src="/images/share_icon.png" />
				<h2>Share</h2>
				<p>Share your file with the world. Users will be required to pay the price you set in order to access your file.</p>
			</div>
			<div class="hidden-xs col-sm-1 col-md-1 align-center">
				<img src="/images/circle_arrow.png" />
			</div>
			<div class="col-sm-3 col-md-3">
				<img src="/images/profit_icon.png" />
				<h2>Profit</h2>
				<p>After a user has purchased your file, you will receive their payment minus a 4% fee to your Bitcoin address.</p>
			</div>
		</div>

		<p class="actions align-center">
			<a href="/start" class="btn btn-lg btn-success">Get Started</a>
		</p>
	</div>

	<div class="page">

		<div class="hr-header">
			<hr id="how" />
			<h2 class="align-center">How It Works</h2>
		</div>
		
		<div class="row how_row">
			<div class="how_left col-sm-6">
				<p><strong>With Bitsie Share, you can easily monetize your digital assets with Bitcoin.</strong> Instead of traditional digital publishing systems that require you to link your bank or PayPal account, and wait for monthly payouts, all profits are sent directly to your Bitcoin address.</p>
			</div>

			<div class="how_right col-sm-6">
				<p>After publishing your file on Bitsie Share, anyone you share your link with will be required to pay the price you set in order to download your file. Publishing your file is completely free! We only charge a small transaction fee for each payment you receive from a customer.</p>

				<div class="cost_callout">
					<img width="70px" src="/images/profit_icon.png" class="pull-left" />
					<p class="pull-left">Publishing a file is completely free. We charge a 4% transaction fee for each customer purchase.</p>
					<span class="clearfix"></span>
				</div>

			</div>
		</div>

		<p class="actions align-center">
			<a href="/start" class="btn btn-lg btn-success">Get Started</a>
		</p>

		<p class="top">
			<a href="#top" class="scroll"><em><small>Back to top</small></em></a>
		</p>
	</div>

</div>