<div class="hr-header">
	<hr />
	<h2 class="align-center">Terms &amp; Conditions</h2>
</div>

<p>By using the share.bitsie.com web site ("Service"), a service of Bitsie, LLC ("Bitsie"), you are agreeing to be bound to the following terms and conditions ("Terms of Service").</p>

<p>Bitsie reserves the right to update and change the Terms of Service at their discretion without notice. Any new features in excess to the current Service shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: http://share.bitsie.com/terms Violation of any of the terms below will result in immediate termination of your Service account.</p>

<p>Account Terms</p>

<p>Bitsie cannot and will not be liable for any loss of information or security breaches. You are hereby considered fully responsible for all content posted and any and all activity that occurs for your uploads.</p>

<p>You may not use the Service for any illegal activities. You must not, in your use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).</p>

<p>Payment and Refunds Terms</p>

<p>By selling the files via Service, using the Service, the User herein expressly agrees that, once any of the files is sold, 4% (four percent) fee (hereinafter – the "Fee") shall be deducted from the User’s account from the 100% of the price paid by the Customer. By accepting these Terms, the User expressly agrees to this condition.</p>

<p>This Fee is inclusive off all taxes.</p>

<p>The User hereby acknowledges and expressly agrees that in no way or situation the Fee shall be refunded to the User.</p>

<p>Bitsie may unilaterally change the Fee from time to time. The User shall be notified of any such change and the date of entering into force in advance, before reasonable term of time. Should the User do not agree with the new Fee, he/she may immediately disable selling of files in the Service. If the User continues using the Site after the date of the amended Fee’s entering into force, it is deemed that the User has agreed and accepted the amended Fee.</p>

<p>All fees exclude any taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties.</p>

<p>Cancellation and Termination</p>

<p>Bitsie has the right to suspend or terminate your account and refuse any and all current or future use of the Service for any reason at any time. Bitsie, in their sole discretion, reserves the right to refuse service to anyone for any reason at any time.</p>

<p>Bitsie shall archive and store all details of the use of the Service for the period of time as established by applicable legal provisions. No personal information shall be transferred to any third parties, except in cases provided by mandatory legal provisions, including, but not limited to, to State Tax Inspectorate, courts of other competent institutions that request such information, or for the purpose of presenting legal claims or defense.</p>

<p>Modifications to the Service and Prices</p>

<p>Bitsie reserves the right at any time, with or without notice, to modify or discontinue the Service, temporarily or permanently.</p>

<p>Bitsie shall not be liable to you or to any third party for any modification, Fee change, suspension or discontinuance of the Service.</p>

<p>Copyright and Content Ownership</p>

<p>Bitsie claims no intellectual property rights over the material you provide to the Service. The materials you provide remain yours. However, by publicly sharing your purchase URL's, you agree to allow others to view and share your Content.</p>

<p>Bitsie does not pre-screen Content, but Bitsie has the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Service.</p>

<p>The Service itself is copyright &copy; Bitsie, LLC. All rights reserved. You may not duplicate, copy, or reuse any portion of the code (HTML/CSS/Javascript) or visual design elements.</p>

<p>General Conditions</p>

<p>Your use of the Service is at your own risk. The service is provided on an "as is" and "as available" basis.</p>

<p>You acknowledge and understand that Bitsie uses third party vendors to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</p>

<p>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, Bitsie, or any other Bitsie service.</p>

<p>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service.</p>

<p>We may remove Content and Accounts containing Content that we determine in our sole discretion are violating the Terms of Service, including but not limited to content deemed unlawful, offensive, threatening, libelous, defamatory, pornographic, explicitly obscene, generally objectionable or violating any party's intellectual property.</p>

<p>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Bitsie employee, member, or officer will result in immediate account termination and potential criminal charges.</p>

<p>You must not upload, post, host or transmit any worms, viruses or any other code of a destructive and furtive nature.</p>

<p>You must not upload, post, host, or transmit unsolicited email, SMSs, or "spam" messages.</p>

<p>Bitsie shall not be liable to you or to any third party for outages, downtime, connection issues, or unavailability of files or data stored on any server.</p>

<p>Bitsie does not warrant that (I) the service will meet your specific requirements, (II) the service will be uninterrupted, timely, secure, or error-free, (III) the results that may be obtained from the use of the service will be accurate or reliable, (IV) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (V) any errors in the Service will be corrected.</p>

<p>You expressly understand and agree that Bitsie shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Bitsie has been advised of the possibility of such damages), resulting from: (I) the use or the inability to use the service; (II) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (III) unauthorized access to or alteration of your transmissions or data; (IV) statements or conduct of any third party on the service; (V) or any other matter relating to the service.</p>

<p>The failure of Bitsie to aggressively enforce any right or provision of the Terms of Service shall not be construed as a waiver of such right or provision. The Terms of Service outlines the entire agreement between you and Bitsie and supersedes any prior agreements between you and Bitsie including prior iterations of the Terms of Service.</p>

<p>The Terms and Conditions shall be governed by United States law.</p>